* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#nav-bar {
    position:sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    padding-bottom: 0 !important;
}


.container-fluid {
    background-image: linear-gradient(to right, #1c867e,#3b4138);
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    margin-top: 4px;
    color: rgb(56, 54, 71) !important;
    font-weight: 700;
    border-radius: 12px;
    
}

.navbar-nav li a:hover{
    background-color:rgb(145, 211, 216) ;
    border-radius: 12px;
}



.fa-bars {
    color: white;
    font-size: 30px !important;
}

/*-----------BANNER SECTION----------------*/

#banner {
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    padding-top: 1%;
}


.promo-title {
    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn {
    width: 55px;
    margin: 20px;
}

#banner a {

    color: white;
    text-decoration: none;
}
.img-fluid {
    margin-right: 0 !important;
}

/*-----------services section-------------*/

#services {

    padding: 80px 0;
}

.service-img {
    width: 100px;
    margin-top: 20px;
}

.services {

    padding: 20px;
}

.services h4 {
    padding: 5px;
    padding: 20px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform:translateY(63px)
}

.title::after {
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform:translateY(8px)
}

#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #7b1798;
}

#services .btn-primary:hover{
    background-color: #a236c0;
}

#nav-bar #loghover a:hover{
    background-color: red;
}

.form_error span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 1.1em;
    color: #D83D5A;
  }

  .form_error input {
    border: 1px solid #D83D5A;
  }